
.cea-industry-impact__section {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 1px solid #fff;
}

.cea-industry-impact__section:last-child {
  padding-bottom: 45px;
  border-bottom: 1px solid #fff;
}

.cea-industry-impact__header {
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: normal;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.cea-industry-impact__row-wrap {
  margin-top: 45px;
}

.cea-industry-impact__row {
  display: flex;
  justify-content: space-between;
}

/*
.cea-industry-impact__row:after {
  content: 'flickity';
  display: none;
}

@media screen and ( min-width: 992px ) {
  .cea-industry-impact__row:after {
    content: '';
  }
}
*/

@media (max-width: 991px) {
  .cea-industry-impact__row {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -22px;
    margin-bottom: -22px;
  }
}

@media (max-width: 767px) {
  .cea-industry-impact__row {
    margin-top: -11px;
    margin-bottom: -11px;
  }
}

@media (max-width: 767px) {
  .cea-industry-impact__section--investing   .cea-industry-impact__row {
    justify-content: flex-start;
  }
}

.cea-industry-impact__col {
  padding: 0px 45px;
}

@media (max-width: 1199px) {
  .cea-industry-impact__col {
    padding: 0px 22px;
  }
}

@media (max-width: 991px) {
  .cea-industry-impact__col {
    padding: 22px;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .cea-industry-impact__section--connecting .cea-industry-impact__col {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .cea-industry-impact__section--investing .cea-industry-impact__col {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .cea-industry-impact__section--investing .cea-industry-impact__col {
    width: 100%;
  }

  .cea-industry-impact__section--investing .cea-industry-impact__col:last-child {
    max-width: 480px;
  }
}

@media (max-width: 991px) {
  .cea-industry-impact__section--economic-impact .cea-industry-impact__col {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .cea-industry-impact__col {
    padding: 11px;
  }
}

@media (max-width: 767px) {
  .cea-industry-impact__section--economic-impact .cea-industry-impact__col:last-child {
    margin-top: 22px;
  }
}

.flickity-enabled .cea-industry-impact__col {
  width: 100%;
  margin-right: 22px;
  padding: 0;
}

@media (min-width: 992px) {
  .cea-industry-impact__col-inner  {
    min-width: 230px
  }
}

.cea-industry-impact__col-inner--vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cea-industry-impact__col-inner--horizontal {
  display: flex;
}

.cea-industry-impact__col-inner--relative {
  position: relative;
}

.cea-industry-impact__graphic-description {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cea-industry-impact__graphic-description--upper-right {
  position: absolute;
  top: 20px;
  right: 0;
  max-width: 170px;
  z-index: 1;
}

@media (min-width: 768px) and (max-width: 991px) {
  .cea-industry-impact__graphic-description--upper-right {
    right: 80px;
  }
}

.cea-industry-impact__graphic {
  height: 210px;
}

@media (max-width: 991px) {
  .cea-industry-impact__section--economic-impact .cea-industry-impact__graphic {
    height: auto;
  }
}

.cea-industry-impact__graphic--roll-left {
  z-index: 10;
  position: relative;
}

.cea-industry-impact__graphic--align-top {
  margin-bottom: 22px;
}

@media (max-width: 991px) {
  .cea-industry-impact__graphic--align-top {
    margin-bottom: 11px;
  }
}

.cea-industry-impact__graphic--align-left {
  margin-right: 34px;
}

.cea-industry-impact__graphic-text {
  font-size: 1.125rem;
  line-height: 1.25rem;
  max-width: 300px;
}

.cea-industry-impact__graphic-text--lines-split {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 11px;
}

.cea-industry-impact__graphic-text-wrap--stat-horizontal {
  display: flex;
}

.cea-industry-impact__graphic-stat {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
}

.cea-industry-impact__graphic-text-wrap--stat-horizontal .cea-industry-impact__graphic-stat {
  margin-right: 11px;
}

.cea-industry-impact__graphic-stat--top {
  margin-bottom: 5px;
}

.cea-industry-impact__graphic-source {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 11px;
}

.flickity-page-dots .dot {
  background: #fff;
}
