
.cea-industry-impact__section {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 1px solid #fff;
}

.cea-industry-impact__header {
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: normal;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.cea-industry-impact__row {
  display: flex;
  margin-top: 45px;
}

.cea-industry-impact__col {
  padding: 0px 45px;
}

.cea-industry-impact__col-inner  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 230px
}

.cea-industry-impact__graphic {
  height: 210px;
  margin-bottom: 22px;
}

.cea-industry-impact__graphic-text {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.cea-industry-impact__graphic-text-wrap--stat-horizontal {
  display: flex;
}

.cea-industry-impact__graphic-stat {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  margin-right: 11px;
}

.cea-industry-impact__graphic-source {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 11px;
}
