
.cea-industry-impact__section {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 1px solid #fff;
}

@media (max-width: 499px) {
  .cea-industry-impact__section {
    margin-top: 34px;
    padding-top: 34px;
  }
}

.cea-industry-impact__section:last-child {
  padding-bottom: 45px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 499px) {
  .cea-industry-impact__section:last-child {
    padding-bottom: 34px;
  }
}

.cea-industry-impact__header {
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: normal;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.cea-industry-impact__row-wrap {
  margin-top: 45px;
}

@media (max-width: 499px) {
  .cea-industry-impact__row-wrap {
    margin-top: 34px;
  }
}

.cea-industry-impact__row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .cea-industry-impact__row {
    flex-wrap: wrap;
    margin-top: -11px;
    margin-bottom: -11px;
  }
}

@media (max-width: 767px) {
  .cea-industry-impact__section--investing   .cea-industry-impact__row {
    justify-content: flex-start;
  }
}

.cea-industry-impact__col {
  padding: 11px 0px;
}

@media (min-width: 500px) {
  .cea-industry-impact__col {
    padding: 11px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cea-industry-impact__col {
    padding: 0px 22px;
  }
}

@media (min-width: 1200px) {
  .cea-industry-impact__col {
    padding: 0px 45px;
  }
}

@media (max-width: 991px) {
  .cea-industry-impact__section--investing .cea-industry-impact__col {
    width: 80%;
  }
}

@media (max-width: 991px) {
  .cea-industry-impact__section--investing .cea-industry-impact__col {
    width: 100%;
  }

  .cea-industry-impact__section--investing .cea-industry-impact__col:last-child {
    max-width: 480px;
  }
}

@media (max-width: 767px) {
  .cea-industry-impact__section--economic-impact .cea-industry-impact__col:last-child {
    margin-top: 22px;
  }
}

@media (min-width: 992px) {
  .cea-industry-impact__col-inner  {
    min-width: 230px
  }
}

.cea-industry-impact__col-inner--vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (min-width: 500px) and (max-width: 991px) {
  .cea-industry-impact__col-inner--vertical {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.cea-industry-impact__col-inner--horizontal {
  display: flex;
}

.cea-industry-impact__col-inner--relative {
  position: relative;
}

.cea-industry-impact__graphic-description {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cea-industry-impact__graphic-description--upper-right {
  position: absolute;
  top: 20px;
  right: 5px;
  max-width: 170px;
  z-index: 1;
}

@media (max-width: 499px) {
  .cea-industry-impact__graphic-description--upper-right {
    position: static;
    max-width: 300px;
  }
}

/*
@media (min-width: 992px) {
  .cea-industry-impact__graphic {
    height: 210px;
  }
}
*/

.cea-industry-impact__col--gigabit-speeds .cea-industry-impact__graphic {
  padding-left: 11px;
  padding-right: 11px;
}

.cea-industry-impact__graphic--roll-left {
  z-index: 10;
  position: relative;
}

@media (max-width: 499px) {
  .cea-industry-impact__graphic--roll-left {
    margin-bottom: 5px;
  }
}

.cea-industry-impact__graphic--align-top {
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .cea-industry-impact__graphic--align-top {
    margin-bottom: 22px;
  }
}

@media (min-width: 500px) and (max-width: 991px) {
  .cea-industry-impact__graphic--align-top {
    margin-right: 34px;
    margin-bottom: 0;
    height: auto;
    width: 250px;
  }
}

.cea-industry-impact__graphic--align-left {
  margin-right: 34px;
}

@media (max-width: 991px) {
  .cea-industry-impact__graphic--align-left {
    max-width: 250px;
  }
}

@media (max-width: 499px) {
  .cea-industry-impact__col--infrastructure-investment .cea-industry-impact__graphic--align-left {
    max-width: 125px;
    margin-right: 11px;
  }
}

.cea-industry-impact__col--infrastructure-investment .cea-industry-impact__graphic-text--lines-split {

}

.cea-industry-impact__graphic-text {
  font-size: 1.125rem;
  line-height: 1.25rem;
  max-width: 300px;
}

@media (max-width: 499px) {
  .cea-industry-impact__graphic-text {
    max-width: none;
  }
}

.cea-industry-impact__graphic-text--lines-split {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 11px;
}

@media (max-width: 499px) {
  .cea-industry-impact__graphic-text--lines-split {
    margin-top: 0;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .cea-industry-impact__graphic-text--lines-split .cea-industry-impact__graphic-text-line {
    margin-top: 11px;
  }
}

.cea-industry-impact__graphic-text-wrap--stat-horizontal {
  display: flex;
}

@media (max-width: 991px) {
  .cea-industry-impact__graphic-text-wrap--stat-horizontal {
    display: block;
  }
}

.cea-industry-impact__graphic-stat {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
}

.cea-industry-impact__graphic-text-wrap--stat-horizontal .cea-industry-impact__graphic-stat {
  margin-right: 11px;
}

@media (max-width: 991px) {
  .cea-industry-impact__graphic-text-wrap--stat-horizontal .cea-industry-impact__graphic-stat {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 499px) {
  .cea-industry-impact__graphic-text-wrap--stat-vertical .cea-industry-impact__graphic-stat {
    margin-bottom: 5px;
  }
}

.cea-industry-impact__graphic-stat--top {
  margin-bottom: 5px;
}

.cea-industry-impact__graphic-source {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 11px;
}

.flickity-page-dots .dot {
  background: #fff;
}

.lottie-wrap {
  height: 200px;
}

@media (min-width: 992px) {
  .cea-industry-impact__col--cable-employees .lottie-wrap {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .cea-industry-impact__col--cable-jobs .lottie-wrap {
    height: 215px;
  }
}
